   #tabletabs {
    width:1000px;
    margin: 0px auto 0 auto;
  }
  
  #tabletabs_csr {
    width:660px;
    margin: 0px auto 0 auto;
  }

  /* ------------------------------------------------- */

  #tabs {
    overflow: hidden;
   width:690px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #tabs li {
    float: left;
   margin: 0 -15px 0 0;
  }
#tabs li {padding:0px 0 !important; }
  #tabs a {
    float: left;
    position: relative;
    padding: 0 20px;
    height: 0;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #FFFFFF;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #035bae;
    border-bottom-color: #777\9;
    opacity: .3;
    filter: alpha(opacity=30);
  }

  #tabs a:hover,
  #tabs a:focus {
    border-bottom-color: #035bae;
	color: #FFFFFF;    
    opacity: 1;
    filter: alpha(opacity=100);
  }

  #tabs a:focus {
    outline: 0;
  }

  #tabs #current {
    z-index: 3;
    border-bottom-color: #171717;
    opacity: 1;
    filter: alpha(opacity=100);
  }

  /* ----------- */
  #content {
      background: #fff;
      border-top: 2px solid #716658;
      padding: 2em;
	  width: 1000px;
	  height:auto;
      /*height: 220px;*/
  }

  #content h2,
  #content h3,
  #content p {
      margin: 0 0 15px 0;
  }  
 
 .white_bold{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color:#FFFFFF;
}

.white{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	font-weight: normal;
	color:#FFFFFF;
}
