@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
.IEcon {
    margin: 22px 2px !important;
}
.IEmenu1 {
    width:16% !important;
}
.IEmenu2 {
    width:15% !important;
}
.IEmenu3 {
    width:20% !important;
}
.offset-menu-th {
    margin-left:12% !important;
}
div.coverFinancial-Padding > img{
    margin-bottom:80px;
}
}

@supports (-ms-ime-align:auto) {
    .dl-menuwrapper{
        border-top: 1px solid #dddddd;
    }
    .Language {
        border-top: 1px solid #dddddd;
    }
}

/*------------------------------------ STI------------------------------------------*/
.padding0 {
     padding: 0;
}

.padding-bottom0 {
     padding-bottom: 0;
}

.padding-left0 {
     padding-left: 0;
}

.padding-right0 {
     padding-right: 0;
}

.padding-top0 {
     padding-top: 0;
}

.margin0 {
     margin: 0;
}

.margin-bottom0 {
     margin-bottom: 0;
}

.margin-left0 {
     margin-left: 0;
}

.margin-right0 {
     margin-right: 0;
}

.margin-top0 {
     margin-top: 0;
}
.section-menu-res {
    padding-top: 50px;
}
.sectionSub {
    padding-bottom: 110px !important;
}
.section-other{
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}
@media (max-width: 1200px) {
.section-other{
    padding-top: 20px !important;
    padding-bottom: 50px !important;
}
}
@media (max-width: 767px) {
.section-other{
    padding-top: 30px !important;
    padding-bottom: 40px !important;
}
}
@media (max-width: 650px) {
.section-other{
    padding-top: 15px !important;
    padding-bottom: 30px !important;
}
}
@media (max-width: 420px) {
.section-other{
    padding-top: 15px !important;
    padding-bottom: 30px !important;
}
}
/*EVENT*/
.img_EVENT {
    height: auto;
    width: 100%;
}

/*New*/
.headNewtext {
    font-family: 'psl_display_pro';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 30px;
    color: #1073a1;
}
.headNewtext2 {
    font-family: 'psl_display_pro';
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 0px;
    display: inline;
}
.readAll {
    float: right;
    color: #34abc9;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
}
.readAll:hover {
    color: #164b58;
    text-decoration: underline;
}
.panel {
    margin-bottom: 0;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius:0;
}
.panel-default>.panel-heading {
    color: #000000;
    background-color: #ffffff !important;
    border-color: #fff;
    background-image: none !important;
}
.panel-body {
    padding: 5px 24px 25px 24px;
}
.panel-footer {
    padding: 10px 24px 207px 24px;
    background-color: #f5f5f5;
    border-top: 0px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.background-panel-footer1 {
    background-image: url(../images/PanelBackground-1.jpg);
    background-repeat: no-repeat;
}
.background-panel-footer2 {
    background-image: url(../images/PanelBackground-2.jpg);
    background-repeat: no-repeat;
}

.news-text1 {
    float: left;
    margin-bottom: 0px;
    margin-right: 5px;
    color: #34abc9;
    font-weight: 500;
    font-size: 14px;
}
.news-text2-day {
    float: left;
    margin-right: 6px;
    color: #88888a;
    font-size: 14px;
    font-weight: 400;
}
.news-text2-time {
    float: left;
    color: #88888a;
    font-size: 14px;
    font-weight: 400;
}
.news-text3 {
    padding: 10px 0px 1px 0px;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    width: 330px;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 0px;
}
a:hover .news-text3 {
    color: #797979;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.pagination li {
    float: left;
    width: 55px;
     height: auto; 
}
.pagination li a{
    line-height: 35px;
    font-size: 16px;
    color: #cccccc;
    border: 1px solid #dddddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span{
    margin-left: 0;
    border-bottom-left-radius: 0px; 
    border-top-left-radius: 0px; 
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.demo1 {
    overflow: hidden;
}
.demo2 {
    overflow: hidden;
}

/*IRcalanda*/
.Big-coverIRC {
    border: 1px solid #dddddd;
    margin-bottom: 25px;
}
.coverIRC1 {
    background-color: #f5f5f5;
    padding: 15px 15px 25px 20px;
}
.coverIRC2 {
    background-color: #f5f5f5;
    border-left: 4px solid #046c9c;
    padding-left: 15px;
}
.coverIRC3 {
    float: left;
    /*background-color: #f5f5f5;*/
    /*border-left: 4px solid #046c9c;*/
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.coverIRC4 {
    background-color: #f5f5f5;
    /*border-left: 4px solid #046c9c;*/
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.IRC-text-day {
    font-family: 'psl_display_pro';
    font-size: 32px;
    padding-top: 11px;
    margin-bottom: 0px;
}
.IRC-text-time {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 0px;
    position: relative;
    top: 4px;
}
.IRC-text1 {
    color: #9197a7;
    font-size: 14px;
    font-weight: bold;
}
.IRC-text2 {
    padding: 5px 0px 0px 0px;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 3px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 12px;
}
.IRC-text3 {
    padding: 5px 0px 0px 0px;
    color: #585858;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-bottom: 4px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 0px;
}
.IRC-text4 {
    margin-bottom: 10px;
    font-weight: normal;
    color: #9197a7;
    font-size: 14px;
}
.img-icon-calendar {
    float: left;
    margin-right: 16px;
}
.img-icon-clock {
    margin-right: 5px;
}
.img-icon-file {
    margin-right: 5px;
}
.img-icon-film {
    margin-right: 5px;
}
.Big-coverNextIRC {
    border: 1px solid #dddddd;
    margin-bottom: 5px;
}
.coverNextIRC {
    background-color: #f5f5f5;
    border-left: 4px solid #34abc9;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 21px;
}
.NextIRC-text1 {
    color: #9197a7;
    font-size: 14px;
    font-weight: normal;
}
.NextIRC-text2 {
    padding: 5px 5px 2px 0px;
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin: 0;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

/* Financial & StockQuote */
.Big-coverFinancial {
    background-color: #f5f5f5;
    padding: 30px 30px 0 30px;
}
.headFinancialText {
    font-family: 'psl_display_pro';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 45px;
    text-align: center;
    padding-top: 40px;
    line-height: 0.8;
    color: #1073a1;
}
.coverFinancial-1 {
    background-image: url(../images/icon-Financial-1.png);
    background-repeat: no-repeat;
    float: left;
    background-color: #ffffff;
    border: 0.5px solid #d5d6de;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 5px;
}
.coverFinancial-2 {
    background-image: url(../images/icon-Financial-2.png);
    background-repeat: no-repeat;
    float: left;
    background-color: #ffffff;
    border: 0.5px solid #d5d6de;
    margin-right: 5px;
}
.coverFinancial-3 {
    background-image: url(../images/icon-Financial-3.png);
    background-repeat: no-repeat;
    float: left;
    background-color: #ffffff;
    border: 0.5px solid #d5d6de;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.coverFinancial-Padding {
    padding: 15px 50px 95px 15px;
}
.Financial_text1 {
    font-size: 15px;
    font-weight: 600;
    float: left;
    margin-bottom: 13px;
    text-align: left;
}
.Financial_text2 {
    font-family: 'psl_display_pro';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 10px;
    color: #046c9c;
}
.Financial_text3 {
    font-weight: 600;
    margin-bottom: 0px;
    font-size: 14px;
}
.Big-coverFinancial2 {
    background-color: #f5f5f5;
    padding: 20px 30px 30px 30px;
}
.Tr-Financial {
    border-bottom: 0.5px solid #dddddd;
}
.circle {
    margin-right: 8px;
    background-color: #34abc9;
    height: 15px;
    width: 15px;
    float: left;
    border-radius: 10px;
}
.lastDayFinancial {
    font-weight: 400;
    color: #525252;
}
.AllInfoFinancial {
    float: right;
    color: #34abc9;
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}
.AllInfoFinancial:hover {
    color: #164b58;
    text-decoration: underline;
}
.Td-FinancialText1 {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 500;
    color: #515c66;
}
.Td-FinancialText2 {
    text-align: center;
    padding-top: 8px;
    font-size: 25px;
    font-weight: 600;
    color: #515c66;
    font-family: 'psl_display_pro';
}
.Td-FinancialText3 {
    text-align: right;
    padding-right: 20px;
    padding-top: 6px;
    padding-bottom: 0px;
    font-size: 15px;
    font-weight: 600;
    color: #515c66;
}
.borderFinan1 {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}
.borderFinan2 {
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}
.Big-coverStockQuote {
    background-image: url(../images/backgroundStockQuote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ffffff;
    padding: 30px 30px 25px 30px;
}
.coverStockQuote1 {
    display: block;
    margin: auto;
    text-align: center;
    padding: 40px 40px 33px 40px;
}
.coverStockQuote2 {
    padding: 0px 25px;
}    
.coverStockQuote3 {
    display: block;
    margin: auto;
    text-align: center;
    padding: 5px 0px 30px 0px;
}   
.headStockQuoteText {
    font-family: 'psl_display_pro';
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5px;
    text-align: center;
    color: #1073a1;
    line-height: 0.8;
}
.coverStockQuoteSymbol {
    font-size: 16px;
    color: #676767;
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.coverSQ-stock {
    float: left;
}
.coverSQ-price {
}
.img-new-stock {
    background-color: #e7e7e7;
    padding: 20px 8px 30px 8px;
}
.img-new-price {
    background-color: #e7e7e7;
    padding: 20px 8px 30px 8px;
}
.SQSymbol {
    text-decoration: underline;
    color: #1073a1;
}
.StockQuoteText1 {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 600;
    color: #585858;
    line-height: 1.5;
    margin-bottom: 10px;
}

.buttonStockQuote1 {
    background-color: #33333300 !important;
    background-color: rgba(51, 51, 51, 0) !important;
    background-color: hsla(0, 0%, 20%, 0) !important;
    padding: 15px 25px;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    border: 2px solid #000000;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
        margin-right: 14px;
}
.buttonStockQuote1:hover {
    background-color: #046b9a !important;
    background-color: rgb(4, 107, 154) !important;
    background-color: hsl(199, 95%, 31%) !important;
    font-weight: 300;
    color: #ffffff;
    border: 2px solid #046b9a;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.buttonStockQuote2 {
    background-color: #046c9c !important;
    font-size: 16px;
    padding: 17px 25px;
    font-weight: 300;
    color: #fff;
    border: 0px solid #fff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.buttonStockQuote2:hover {
    background-color: #014565 !important;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
/*annual report*/
.cover-annual {
    padding: 15px 25px 0px 25px;
}
.annual-wrap-index1 {
    min-height: 200px;
    background: #f5f5f5;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    border: 1px #dddddd solid;
    padding-top: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    background-image: url(../images/ReportBackground-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 70%;
}
.annual-wrap-index2 {
    min-height: 200px;
    background: #f5f5f5;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    border: 1px #dddddd solid;
    padding-top: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    background-image: url(../images/ReportBackground-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30%;
}
.annual-wrap-index3 {
    min-height: 200px;
    background: #f5f5f5;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    border: 1px #dddddd solid;
    padding-top: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    background-image: url(../images/ReportBackground-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 30%;
}
/*.annual-wrap-index1:hover {
    transition: all ease-in-out 0.3s;
    border: 1px #dddddd solid;
    background-color: #dddddd !important;
}
.annual-wrap-index1 .cover {
    width: 60%;
    text-align: center;
    margin: 0px auto 28px;
}*/
 
.font_home-index_irhead6 {
    text-transform: uppercase;
    font-family: 'psl_display_pro';
    font-size: 50px !important;
    font-weight: bold !important;
    color: #1073a1;
    padding: 0 0px;
    margin-bottom: 25px;
}   
.font_text-index_irhome5 {
    text-transform: uppercase;
    font-size: 14.5px;
    color: #555555;
    line-height: 21px;
    letter-spacing: 1px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 20px;
}
.font_text-index_irhome5 span {
    color: #1073a1;
}

.font_home-index_All {
    padding: 0 27px;
    font-size: 14.5px !important;
    margin-bottom: 186px;
    color: #046c9c;
    font-weight: 500 !important;
    text-decoration: underline;
}
.font_home-index_All a {
    color: #046c9c;
    font-size: 15px;
    font-weight: bold;
}
.font_home-index_All:hover a {
    color: #164b58;
}

@keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-webkit-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-moz-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
/*a-btnIndex*/
.a-btnIndex{
    padding: 23px 30px 20px 30px;
    position: relative;
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
    background: #1073a1;
    color: aliceblue;
}
.a-btnIndex:hover{
    background:#0b4f6f;
    /*-webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);*/
    text-decoration:none;
}
.a-btnIndex:hover .a-btn-symbol{
    opacity:0;
}
.a-btnIndex:hover .a-btn-slide-icon{
    -webkit-animation:slideDown 0.9s linear infinite;
    -moz-animation:slideDown 0.9s linear infinite;
    animation:slideDown 0.9s linear infinite;
}
.a-btnIndex:active{
    background:#0b4f6f;
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.a-btnIndex:active .a-btn-text{
    color:#fff;
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.a-btnIndex .a-btn-slide-text{
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    letter-spacing: 1px;
    text-shadow: none;
    text-decoration: none;
    font-weight: 300;
}
.a-btnIndex:active .a-btn-slide-text{
    /*font-size: 14px;*/
    color: #888;
    line-height: 20px;
    letter-spacing: 1px;
    text-shadow:none;
    text-decoration:none;
}
.a-btnIndex .a-btn-symbol{
    font-family: 'Glyphicons Halflings';
    color: #eaeaea;
    font-size:20px;
    text-shadow:1px 1px 2px rgba(255,255,255,0.5);
    position:absolute;
    left: 19px;
    top: 9px;
    line-height:32px;
    -webkit-transition:opacity 0.3s ease-in-out;
    -moz-transition:opacity 0.3s ease-in-out;
    -o-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.a-btnIndex a:visited.a-btn-slide-text  {
    text-decoration:none;
}
/*.a-btn-slide-icon {
    position: absolute;
    top: -30px;
    width: 22px;
    height: 22px;
    background: transparent url(../img/arrow_down_black.png) no-repeat top left;
    left: 20px;*/
    /*opacity: 0.4;*/
/*}*/
.shadow-index {
    -webkit-box-shadow: 4px 4px 22px -1px hsla(0, 0%, 0%, 0.45);
    -moz-box-shadow: 4px 4px 22px -1px hsla(0, 0%, 0%, 0.45);
    box-shadow: 4px 4px 22px -1px hsla(0, 0%, 0%, 0.45);
    display: unset;
}
.spaceAN {
    height: 212px;
}

.coverSM {
    background-color: #ffffffde;
    background-color: rgba(255, 255, 255, 0.8705882352941177);
    background-color: hsla(0, 0%, 100%, 0.8705882352941177);
    text-align: left;
    margin-bottom: 10px;
    padding: 20px 25px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    margin-top: 30px;
    margin-bottom: 136px;
}
a:hover .coverSM {
    background-color: #ffffff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.SMimg {
    margin-right: 15px;
    float: left;
}
.smText {
    color: #555555;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    float: left;
    margin-right: 65px;
}
/*annual report*/


/*email*/
.coverEmail {
    background-color: #ededed;
    height: 205px;
    overflow: hidden;
}
.buttonReEmail {
    font-family: 'psl_display_pro';
    background-color: #1073a1 !important;
    padding: 16px 60px;
    font-size: 30px;
    color: #ffffff;
    border: none;
    border: unset;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.buttonReEmail:hover {
    background-color: #0b4f6f !important;
    background-color: rgb(11, 79, 111) !important;
    background-color: hsl(199, 82%, 24%) !important;
    border: none;
    border: unset;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.coverEmailText {
    padding: 35px 0px;
}
.emailfollowText {
    font-family: 'psl_display_pro';
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 45px;
}
.emailfollowText-sub {
    font-family: 'psl_display_pro';
    font-size: 30px;
    font-weight: 400;
    line-height: 1.0;
}
.coverEmailButton {
    padding: 75px 0px;
}

/*Topic*/
.bigTopic {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.bigTopicText {
    font-family: 'psl_display_pro';
    font-size: 58px;
    font-weight: bold;
    color: #006c9d;
    text-transform: uppercase;
}
.bigTopicSub {
    font-size: 22px;
    font-weight: 500;
    margin-right: 15px;
    margin-top: 3px;
    color: #006c9d;
    text-align: left;
}
.bigTopicSubText {
    font-size: 18.5px;
    line-height: 1.7;
    margin: 0 0 13px;
    text-align: justify;
}


/*History*/
.coverHistoryText {
    margin-bottom: 110px;
}
.HistoryText {
    font-size: 18.5px;
    line-height: 1.7;
    margin: 0 0 25px;
    text-indent: 50px;
    text-align: justify;
}
h1.header {
    font-size: 26px;
    font-weight: 400;
    margin: 0px 0 0px;
    color: #006c9d;
    text-align: center;
    margin-bottom: 50px;
}
/*.HistoryBG {
    background-image: url(../images/HistoryBG-1.jpg);
    background-repeat: no-repeat;
    height: 245px;
    width: 350px;
    background-repeat: no-repeat;
    background-color: #000;
    float: left;
    margin-right: 20px;
    margin-bottom: 15px;
}*/

/*Vision*/
/*.coverVisionText {
    margin-bottom: 60px;
}*/
.coverVisionText2 {
    margin-bottom: 40px;
}
.coverVisionText2 p.head {
    margin-bottom: 0px !important;
}
.coverVisionText3 img {
    width: 170px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.VisionText {
    font-size: 18.5px;
    line-height: 1.8;
    margin: 0 0 15px;
}
.VisionCoverIconBEST {
    text-align: center;
}
.VisionCoverIconBEST img {
    height: auto;
    width: 750px;
}

/*ContextOfOrganization*/
.ContextOfOrganizationText {
    font-size: 18.5px;
    line-height: 1.5;
    margin: 0 0 30px;
}

/*ShareholderStructure*/
.ShareholderStructureText {
    font-size: 18.5px;
    line-height: 1.5;
    margin: 0 0 0px;
}

/*Board*/
.coverBoard1 {
}
.BoardHead {
    font-family: 'psl_display_pro';
    font-size: 45px;
    font-weight: bold;
    margin-right: 15px;
    margin-top: 120px;
    color: #006c9d;
    /*text-decoration: underline;*/
    text-align: left;
    line-height: 0.9;
    margin-bottom: 30px;
}
.boardTextName {
    margin-top: 20px;
    color: #006c9d;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.boardTextOffice {
    font-size: 14px;
}

/*signature*/
.signatureName {
    margin-top: 25px;
    color: #006c9d;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}
.signaturePosition {
    font-size: 14px;
    text-align: center;
    margin-bottom: 50px;
}


/*text*/
.text-sub1 {
    float: left;
    font-size: 20px;
    font-weight: 500;
    margin-right: 15px;
    margin-top: 3px;
    color: #006c9d;
    text-decoration: underline;
}

.text-note {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 0 20px;
}

/*Award*/
.boardAwardOffice {
    margin-top: 20px;
    color: #006c9d;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 15px;
    line-height: 1.6;
}
.certificate {
    text-align: center;
}
.certificate img {
    height: 620px;
}
.certificate-text1 {
    font-size: 22.5px;
    margin-bottom: 15px;
    margin-top: 25px;
}
.certificate-text2 {
    font-size: 22.5px;
    font-weight: bold;
    margin-bottom: 60px;
}
.otherAward {
    font-family: 'psl_display_pro';
    font-size: 50px;
    color: #006c9d;
    margin-top: 10px;
}
ul.CSRActivities-ul li {
    font-size: 18.5px;
    line-height: 1.7;
    margin: 0 0 10px;
    padding: 0 0 0 30px;
    /*text-align: justify;*/
}
ul.CSRActivities-Sub-ul {
    margin: 0 0 20px;
}
ul.CSRActivities-Sub-ul li {
    font-size: 18.5px;
    line-height: 1.7;
    margin: 0 0 3px 85px;
    list-style-type: disc;
    padding: 0;
}
.CSRActivities-img {
    text-align: center;
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}
ul.CSRActivities-ul li.CSRActivities-img img {
    height: auto;
    width: 355px;
    margin-right: 25px;
    margin-bottom: 30px;
}


/*table*/
.table-data {
    overflow:auto; 
    padding: 10px 0;
    margin-bottom: 25px;
    overflow-y: hidden !important;
}
.table-width {
    width: 1168px;
    background-color: #d2d2d240;
}

.text-sub1-DividendPolicyPayment {
    color: #AD8700;
    font-size: 18px;
    font-family: 'Sarabun';
    font-weight: 200;
    font-style: normal;
    line-height: 1.8;
    margin-bottom: 25px;
}

table th {
    padding: 15px 0 15px 0;
    border-top: 1px solid #ad8b2e;
    border-right: 1px solid #ad8b2e;
    border-bottom: 1px solid #ad8b2e;
    border-left: 1px solid #ad8b2e;
    text-align: center;
    background: #ad8b2e;
    color: #fff;
    font-size: 16px;
    font-family: 'Sarabun';
    font-weight: 200;
}
div.table-data table tbody tr.Head-table-MajorShareholder th {
    padding: 30px 0 30px 0;
}
/*#content {
     width: 764px;
    height: auto;
    float: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 15px;
}*/

/*#title_content {
     width: 764px;
    height: auto;
    float: left;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #09F;
}*/

table tr td:first-child {
         border-left: 0;
}

table tr.even td {
    background: #ffffff;
    padding: 20px;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
}

table tr.evenImportant td {
    background: #f9f9f9;
    font-weight: 600;
}

.topicTeble {
    color: #000000;
    background:  #e8e8e8;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    font-weight: 500;
}
.topicTeble2 {
    color: #000000;
    background:  #e8e8e8;
    font-size: 16px;
    font-family: 'Sarabun';
    font-weight: 400;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
td.topicTeble2 {
    padding: 9px 15px !important;
    font-weight: 400;
}

/*Contact*/
.ContactHeadText {
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 3px;
    color: #006c9d;
    text-align: left;
    float: left;
}

/*popup*/
.coverBoardContent {
    padding: 50px;
    overflow-y: scroll;
    height: 845px;
}
.BoardPopup-id1 {
    background-image: url(../images/board/joompol_popup.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 830px;
}
.boardContext-Name {
    color: #006c9d;
    font-size: 36px;
    font-weight: 400;
    padding-bottom: 30px;line-height: 1.428571429;
}
.boardContext-head {
    color: #006c9d;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.boardContext-content {
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}
.modal-open {
  overflow: hidden;
}

/*resposive*/ 
@media (max-width: 1199px) {
    .headNewtextRE {
        margin-top: 35px;
    }
    .news-text3 {
        width: auto;
    }
    .Big-coverFinancial{
        float: none;
    }
    .Big-coverFinancial2{
        padding: 30px 30px 30px 30px;
    }
    .coverSQ-stock {
        margin-right: 30px;
        margin-bottom: 15px;
    }
    .coverSQ-price {
        float: left;
    }
    .coverStockQuote1 {
        display: table;
    }
    .font_home-index_irhead6 {
        font-size: 40px !important;
    }
    .font_text-index_irhome5 {
        font-size: 14px;
    }
    .smText {
        font-size: 12px;
        margin-right: 21px;
    }
    .spaceAN {
        height: 212px;
    }
    .coverSM {
        margin-top: 40px;
        margin-bottom: 126px;
    }
    .emailfollowText {
        font-size: 35px;
    }
    .emailfollowText-sub {
        font-size: 24px;
    }
    .paddingFinan1 {
        padding-right: 15px !important;
        padding-left: 15px !important;
        margin-bottom: 15px;
    }
    .paddingFinan2 {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .borderFinan1 {
        border-right: 1px solid #dddddd;
    }
    .borderFinan2 {
        border-left: 1px solid #dddddd;
    }
    .SMimg {
        margin-right: 14px;
    }
    .a-btnIndex .a-btn-slide-text {
        font-size: 15px;
    }
    .background-panel-footer1 {
        background-image: url(../images/PanelBackground-3.jpg);
    }
    .background-panel-footer2 {
        background-image: url(../images/PanelBackground-3.jpg);
    }

    .annual-wrap-index3 {
        background-position-y: 180%;
    }
}

@media (max-width: 991px) {
    .coverEmail {
       height: auto;
       padding: 30px 0px;
    }
    .coverEmailText {
        padding: 0px 0px;
        text-align: center;
    }
    .coverEmailButton {
        padding: 10px 0px 45px 0;
        text-align: center;
    }
    .boardTextName {
        margin-top: 45px;
    }

    .annual-wrap-index1 {
        background-image: url(../images/ReportBackground-1Responsive.jpg);
    }
    .annual-wrap-index2 {
        background-image: url(../images/ReportBackground-2Responsive.jpg);
        background-position-y: 100%;
    }
    .annual-wrap-index3 {
        background-image: url(../images/ReportBackground-3Responsive.jpg);
    }
    .smText {
        font-size: 13px;
    }
    .coverSM {
        margin-top: 30px;
        margin-bottom: 136px;
    }

    .VisionText {
        margin-bottom: 45px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
    .padding0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .bigTopicText {
        font-size: 34px;
    }
    .coverVisionText2 ul {
        padding-left:0px !important;
    }
}

@media (max-width: 621px) {
    .coverSQ-stock {
        float: none;
        float: unset;
        margin-right: 0px;
    }
}

@media (max-width: 600px) {
    .coverFinancial-1 {
        float: none;
        float: unset;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-right: 0px;
        margin-bottom: 5px;
        background-position: right;
    }
    .coverFinancial-3 {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .Financial_text1 {
        float: none;
        float: unset;
    }
    .Financial_text2 {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {
    .coverFinancial-1 {
        margin-bottom: 5px;
    }
    .coverFinancial-2 {
        margin-bottom: 10px;
    }
    .coverFinancial-3 {
        margin-bottom: 10px;
    }
    .coverSQ-stock {
        float: none;
        margin: 0px auto 15px;
    }
}
@media (max-width: 515px) {
    .buttonStockQuote1 {
        margin-right: 0px; 
    }
}
@media (max-width: 501px) {
    .buttonStockQuote1 {
        margin-bottom: 15px;
    }
}
@media (max-width: 463px) {
    .buttonStockQuote1 { 
        margin-bottom: 15px;
    }
}
@media (max-width: 424px) {
    .coverFinancial-2 {
        float: none;
        float: unset;
        margin-right: 0px;
    }
    .coverFinancial-3 {
        float: none;
        float: unset;
    }
    .headFinancialText {
        font-size: 45px;
    }
    .headStockQuoteText {
        font-size: 45px;
    }
}
@media (max-width: 375px) {
    .annual-wrap-index1 {
        background-position-y: 280%;
    }
    .annual-wrap-index3 {
        background-position-y: -480%;
    }
    .SMimg {
        margin-right: 5px;
    }
    .smText {
        font-size: 11px;
        margin-right: 7px;
    }
}
@media (max-width: 326px) {
    .annual-wrap-index1 {
        background-position-y: 160%;
    }
    .annual-wrap-index3 {
        background-position-y: -50%;
    }
}

/*annual report*/
.annual-wrap {
    min-height: 200px;
    background: #f7f7f7;
    margin-bottom: 30px;
    overflow: hidden;
    text-align: center;
    border: 1px #dddddd solid;
    padding-top: 15px;
    border-radius: 3px;
    transition: all ease-in-out 0.3s;
    background-image: url(../images/AnnualBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.annual-wrap:hover {
    transition: all ease-in-out 0.3s;
    border: 1px #e0e0e0 solid;
    background-color: #f9f9f9 !important;
}
.annual-wrap .cover {
    width: 60%;
    text-align: center;
    margin: 20px auto 30px;
}  
.font_home_irhead6 {
    font-family: 'psl_display_pro';
    font-size: 42px !important;
    font-weight: bold !important;
    color: #046c9c;
    padding: 0 27px;
    margin-bottom: 5px;
    line-height: 1.2;
}
.font_text_irhome5 {
    font-family: 'Sarabun';
    font-size: 15px;
    color: #555555;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 0 15px;
}   

@keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-webkit-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
@-moz-keyframes slideDown{
    0% { top: -30px; }
    100% { top: 80px;}
}
/*a-btnAn*/
.a-btnAn{
    padding: 20px 30px 20px 30px;
    position: relative;
    float: left;
    width: 100%;
    display: block;
    overflow: hidden;
    background: #046c9c;
    color: white;
}
.a-btnAn:hover{
    background:#014565 !important;
    /*-webkit-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 0px 9px rgba(0,0,0,0.4), 0px 0px 0px 1px rgba(188,188,188,0.1);*/
    text-decoration:none;
}
.a-btnAn:hover .a-btn-symbol{
    opacity:0;
}
.a-btnAn:hover .a-btn-slide-icon{
    -webkit-animation:slideDown 0.9s linear infinite;
    -moz-animation:slideDown 0.9s linear infinite;
    animation:slideDown 0.9s linear infinite;
}
.a-btnAn:active{
    background:#eee;
    -webkit-box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    -moz-box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
    box-shadow:0px 1px 2px rgba(0,0,0,0.1) inset, 0px 0px 0px 1px rgba(188,188,188,0.1);
}
.a-btnAn:active .a-btn-text{
    color:#fff;
    text-shadow:0px 1px 1px rgba(0,0,0,0.3);
}
.a-btnAn .a-btn-slide-text{
    font-family: 'Sarabun';
    font-size: 16px;
    color: #ffffff;
    line-height: 20px;
    letter-spacing: 1px;
    text-shadow: none;
    text-decoration: none;
    font-weight: 500;
}
.a-btnAn:active .a-btn-slide-text{
    font-family: 'Sarabun';
    font-size: 14px;
    color: #888;
    line-height: 20px;
    letter-spacing: 1px;
    text-shadow:none;
    text-decoration:none;
}
.a-btnAn .a-btn-symbol{
    font-family: 'Glyphicons Halflings';
    color: #eaeaea;
    font-size:20px;
    text-shadow:1px 1px 2px rgba(255,255,255,0.5);
    position:absolute;
    left: 19px;
    top: 9px;
    line-height:32px;
    -webkit-transition:opacity 0.3s ease-in-out;
    -moz-transition:opacity 0.3s ease-in-out;
    -o-transition:opacity 0.3s ease-in-out;
    transition:opacity 0.3s ease-in-out;
}
.a-btnAn a:visited.a-btn-slide-text  {
    text-decoration:none;
}
/*.a-btn-slide-icon {
    position: absolute;
    top: -30px;
    width: 22px;
    height: 22px;
    background: transparent url(../img/arrow_down_black.png) no-repeat top left;
    left: 20px;
    /*opacity: 0.4;*/
/*}*/
.shadow-an {
    -webkit-box-shadow: 4px 4px 22px -1px hsla(0, 0%, 0%, 0.45);
    -moz-box-shadow: 4px 4px 22px -1px hsla(0, 0%, 0%, 0.45);
    box-shadow: 4px 4px 22px -1px hsla(0, 0%, 0%, 0.45);
    display: unset;
}
.Annual-button {
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.cover-Annual-psd {
    border-right: 1px solid #dddddd;
    padding: 17.5px 19px;
    float: left;
}
.Annual-psd {
    height: 35px;
    width: 33px;
    background-image: url(../images/pdf1.png);
    float: left;
    background-repeat: no-repeat;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.Annual-button p {
    font-family: 'psl_display_pro';
    font-size: 32px;
    font-weight: bold;
    color: #005073;
    padding: 25px 90px;
    margin: 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.Annual-button:hover .Annual-psd {
    background-image: url(../images/pdf2.png);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.Annual-button:hover {
    background-color: #046c9c;
    border: 1px solid #ffffff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.Annual-button:hover a p {
    color: #ffffff;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
/*annual report*/


.displayFlex {
    display: flex;
}
.coverOffset-menu {
    margin: 0 auto;
    display: -webkit-box;
}
.coverLanguage {
    margin: 0px 8px; 
    display: -webkit-box;
    display: -ms-flexbox;
}


ul.cover-ul {
    font-size: 18.5px;
    line-height: 1.7;
    margin-bottom: 15px;
}
ul.cover-ul li {
    padding-left: 55px;
}


.IEmenu1 div.coverOffset-menu a.displayFlex img.img-short {
    width: 23px;height: 27px;
}

.IEmenu2 div.coverOffset-menu a.displayFlex img.img-short {
    height: 24px;width: 27px;margin-top: 20px;
}

.IEmenu3 div.coverOffset-menu a.displayFlex img.img-short {
    height: 30px;width: 26px;
}


/*tip*/
.newHeightTip {
    height: 785px;
    background-color: #ffffff;
}

/*resposive*/ 
@media (max-width: 1199px) {
    .newHeightTip {
        height: 2080px;
    }
}
@media (max-width: 720px) {
    .newHeightTip {
        height: 2140px;
    }
}
@media (max-width: 704px) {
    .newHeightTip {
        height: 2320px;
    }
}
@media (max-width: 674px) {
    .newHeightTip {
        height: 2351px;
        margin-bottom: 65px;
    }
}
/*@media (max-width: 650px) {
    .newHeightTip {
        height: 1745px;
    }
}*/
@media (max-width: 674px) {
    .newHeightTip {
        height: 2351px;
        margin-bottom: 65px;
    }
}
@media (max-width: 355px) {
    .newHeightTip {
        height: 2351px;
        margin-bottom: 85px;
    }
}
@media (max-width: 320px) {
    .newHeightTip {
        height: 2350px;
        margin-bottom: 85px;
    }
}


 /*jssor slider*/
    /* jssor slider loading skin spin css */
    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes jssorl-009-spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    .jssorb031 {position:absolute;}
    .jssorb031 .i {position:absolute;cursor:pointer;}
    .jssorb031 .i .b {fill:#000;
        fill-opacity:0.5;stroke:#fff;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.3;}
    .jssorb031 .i:hover .b {fill:#fff;fill-opacity:.7;stroke:#000;stroke-opacity:.5;}
    .jssorb031 .iav .b {fill:#fff;stroke:#000;fill-opacity:1;}
    .jssorb031 .i.idn {opacity:.3;}

    .jssora051 {display:block;position:absolute;cursor:pointer;}
    .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
    .jssora051:hover {opacity:.8;}
    .jssora051.jssora051dn {opacity:.5;}
    .jssora051.jssora051ds {opacity:.3;pointer-events:none;}

#slider1_container {
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    width: 1170px !important;
    height: 390px;
    overflow: hidden;
}
@media (max-width: 1199px) {
#slider1_container {
    width: auto !important;
}
}


    .ButtonBod1 span {
        margin-right: 61px;
    }
    .ButtonBod2 span {
        margin-right: 171px;
    }
    .ButtonBod3 span {
        margin-right: 171px;
    }
    .ButtonBod4 span {
        margin-right: 78px;
    }
    @media (max-width: 1199px) {
        .ButtonBod1 span {
            margin-right: 44px;
        }
    }
    @media (max-width: 991px) {
        .ButtonBod1 span {
            margin-right: 26px;
        }
        .ButtonBod4 span {
            margin-right: 55px;
        }
    }
    @media (max-width: 750px) {
        .ButtonBod1 span {
            margin-right: 10px;
        }
        .ButtonBod2 span {
            margin-right: 156px;
        }
        .ButtonBod3 span {
            margin-right: 156px;
        }
        .ButtonBod4 span {
            margin-right: 53px;
        }
    }
    @media (max-width: 660px) {
        .ButtonBod1 span {
            margin-right: 10px;
        }
        .ButtonBod2 span {
            margin-right: 156px;
        }
        .ButtonBod3 span {
            margin-right: 156px;
        }
        .ButtonBod4 span {
            margin-right: 44px;
        }
    }