@charset "utf-8";

/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 100;
  src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVnJx26TKEr37c9aBBx_kwfzg3upg.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 100;
  src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVnJx26TKEr37c9aBBx_kwEzg3upg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 100;
  src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVnJx26TKEr37c9aBBx_kwFzg3upg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 100;
  src: local('Sarabun Thin Italic'), local('Sarabun-ThinItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVnJx26TKEr37c9aBBx_kwLzg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 200;
  src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxUl0c_SjTnwE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 200;
  src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxUl0c5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 200;
  src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxUl0c5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 200;
  src: local('Sarabun ExtraLight Italic'), local('Sarabun-ExtraLightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxUl0c6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 300;
  src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxNl4c_SjTnwE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 300;
  src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxNl4c5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 300;
  src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxNl4c5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 300;
  src: local('Sarabun Light Italic'), local('Sarabun-LightItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxNl4c6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 400;
  src: local('Sarabun Italic'), local('Sarabun-Italic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9aBB5iXwJ1gk.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 400;
  src: local('Sarabun Italic'), local('Sarabun-Italic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9aBB5knwJ1gk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 400;
  src: local('Sarabun Italic'), local('Sarabun-Italic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9aBB5k3wJ1gk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 400;
  src: local('Sarabun Italic'), local('Sarabun-Italic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9aBB5nXwJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 500;
  src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxbl8c_SjTnwE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 500;
  src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxbl8c5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 500;
  src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxbl8c5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 500;
  src: local('Sarabun Medium Italic'), local('Sarabun-MediumItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxbl8c6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 600;
  src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxQlgc_SjTnwE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 600;
  src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxQlgc5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 600;
  src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxQlgc5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 600;
  src: local('Sarabun SemiBold Italic'), local('Sarabun-SemiBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxQlgc6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 700;
  src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxJlkc_SjTnwE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 700;
  src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxJlkc5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 700;
  src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxJlkc5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 700;
  src: local('Sarabun Bold Italic'), local('Sarabun-BoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxJlkc6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 800;
  src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxOloc_SjTnwE.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 800;
  src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxOloc5ijTnwE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 800;
  src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxOloc5yjTnwE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: italic;
  font-weight: 800;
  src: local('Sarabun ExtraBold Italic'), local('Sarabun-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVkJx26TKEr37c9aBBxOloc6SjT.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 100;
  src: local('Sarabun Thin'), local('Sarabun-Thin'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9YHZ5iXwJ1gk.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 100;
  src: local('Sarabun Thin'), local('Sarabun-Thin'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9YHZ5knwJ1gk.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 100;
  src: local('Sarabun Thin'), local('Sarabun-Thin'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9YHZ5k3wJ1gk.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 100;
  src: local('Sarabun Thin'), local('Sarabun-Thin'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVhJx26TKEr37c9YHZ5nXwJ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* sampled usage */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/stats/Sarabun/normal/100);
  unicode-range: U+20;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 200;
  src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YNpoik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 200;
  src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YNpoilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 200;
  src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YNpoilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 200;
  src: local('Sarabun ExtraLight'), local('Sarabun-ExtraLight'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YNpoilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YL5rik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YL5rilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YL5rilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  src: local('Sarabun Light'), local('Sarabun-Light'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YL5rilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVjJx26TKEr37c9aAFJn2QN.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVjJx26TKEr37c9aBpJn2QN.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVjJx26TKEr37c9aBtJn2QN.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: local('Sarabun Regular'), local('Sarabun-Regular'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVjJx26TKEr37c9aBVJnw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YOZqik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YOZqilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YOZqilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 500;
  src: local('Sarabun Medium'), local('Sarabun-Medium'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YOZqilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YMptik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YMptilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YMptilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 600;
  src: local('Sarabun SemiBold'), local('Sarabun-SemiBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YMptilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YK5sik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YK5silQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YK5silUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: local('Sarabun Bold'), local('Sarabun-Bold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YK5silss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 800;
  src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YLJvik8s6zDX.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 800;
  src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YLJvilQs6zDX.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 800;
  src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YLJvilUs6zDX.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 800;
  src: local('Sarabun ExtraBold'), local('Sarabun-ExtraBold'), url(https://fonts.gstatic.com/s/sarabun/v6/DtVmJx26TKEr37c9YLJvilss6w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/*bold*/
@font-face {
    font-family: 'psl_display_pro';
    src: url('font/psl030pro-webfont.eot');
    src: url('font/psl030pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/psl030pro-webfont.woff2') format('woff2'),
         url('font/psl030pro-webfont.woff') format('woff'),
         url('font/psl030pro-webfont.ttf') format('truetype'),
         url('font/psl030pro-webfont.svg#psl_display_probold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*italic*/
@font-face {
    font-family: 'psl_display_pro';
    src: url('font/psl031pro-webfont.eot');
    src: url('font/psl031pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/psl031pro-webfont.woff2') format('woff2'),
         url('font/psl031pro-webfont.woff') format('woff'),
         url('font/psl031pro-webfont.ttf') format('truetype'),
         url('font/psl031pro-webfont.svg#psl_display_proitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
/*bold_italic*/
@font-face {
    font-family: 'psl_display_pro';
    src: url('font/psl032pro-webfont.eot');
    src: url('font/psl032pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/psl032pro-webfont.woff2') format('woff2'),
         url('font/psl032pro-webfont.woff') format('woff'),
         url('font/psl032pro-webfont.ttf') format('truetype'),
         url('font/psl032pro-webfont.svg#psl_display_probold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
/*regular*/
@font-face {
    font-family: 'psl_display_pro';
    src: url('font/psl029pro-webfont.eot');
    src: url('font/psl029pro-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/psl029pro-webfont.woff2') format('woff2'),
         url('font/psl029pro-webfont.woff') format('woff'),
         url('font/psl029pro-webfont.ttf') format('truetype'),
         url('font/psl029pro-webfont.svg#psl_display_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/glyphicons-halflings-regular.eot');
  src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

@font-face {
    font-family: 'promptextralight';
    src: url('font/prompt-extralight-webfont.woff2') format('woff2'),
         url('font/prompt-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}