@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
body, input, textarea, .mbr-company .list-group-text {
	/*font-family: 'Sarabun';*/
	font-family: 'Josefin Sans'
	opacity: 1 !important;
	z-index: 0 !important;
}
.mbr-footer-content li, .mbr-footer .mbr-contacts li {
	font-family: 'Sarabun';
	/*font-family: 'Josefin Sans'*/
}
.btn, .alert, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .mbr-figure .mbr-figure-caption, .mbr-gallery-title, .mbr-map [data-state-details], .mbr-price {
	font-family: 'Sarabun';
    /*font-family: 'josefin_sansbold';*/
}
.mbr-footer-content h1, .mbr-footer .mbr-contacts h1, .mbr-footer-content h2, .mbr-footer .mbr-contacts h2, .mbr-footer-content h3, .mbr-footer .mbr-contacts h3, .mbr-footer-content h4, .mbr-footer .mbr-contacts h4, .mbr-footer-content p strong, .mbr-footer .mbr-contacts p strong, .mbr-footer-content strong, .mbr-footer .mbr-contacts strong {
	font-family: 'Sarabun';
	/*font-family: 'Josefin Sans'*/
}
.btn {
	border-radius: 0.2em;
}
.mbr-subscribe .btn {
	border-radius: 0.2em !important;
}
.btn-sm, .lead a, .lead blockquote, .mbr-section-subtitle, .mbr-section-hero .mbr-section-lead, .mbr-cards .card-subtitle, .mbr-testimonial .card-block {
	/*font-family: 'Sarabun';*/
	font-family: 'Josefin Sans'
}
.mbr-author-name {
	/*font-family: 'Sarabun';*/
	font-family: 'Josefin Sans'
}
.mbr-author-desc {
	/*font-family: 'Sarabun';*/
	font-family: 'Josefin Sans'
}
.mbr-plan-title {
	/*font-family: 'Sarabun';*/
	font-family: 'Josefin Sans'
}
.mbr-plan-subtitle, .mbr-plan-price-desc {
	/*font-family: 'Sarabun';*/
	/*font-family: 'Lora', serif;*/
	font-family: 'Josefin Sans'
}
.bg-primary {
	background-color: #f3c649 !important;
}
.bg-success {
	background-color: #7e9b9f !important;
}
.bg-info {
	background-color: #7e9b9f !important;
}
.bg-warning {
	background-color: #7e9b9f !important;
}
.bg-danger {
	background-color: #7e9b9f !important;
}
.btn-primary {
	background-color: rgba(255, 255, 255, 0);
    border-color: #ffffff;
    color: #ffffff;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #ffffff;
	background-color: #777777;
	border-color: #777777;
}
.btn-primary.disabled, .btn-primary:disabled {
	color: #ffffff !important;
	background-color: #e1a90f !important;
	border-color: #e1a90f !important;
}
.btn-secondary {
	background-color: #7e9b9f;
	border-color: #7e9b9f;
	color: #ffffff;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary.focus, .btn-secondary:active, .btn-secondary.active {
	color: #ffffff;
	background-color: #597478;
	border-color: #597478;
}
.btn-secondary.disabled, .btn-secondary:disabled {
	color: #ffffff !important;
	background-color: #597478 !important;
	border-color: #597478 !important;
}
.btn-info {
	background-color: #7e9b9f;
	border-color: #7e9b9f;
	color: #ffffff;
}
.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active {
	color: #ffffff;
	background-color: #597478;
	border-color: #597478;
}
.btn-info.disabled, .btn-info:disabled {
	color: #ffffff !important;
	background-color: #597478 !important;
	border-color: #597478 !important;
}
.btn-success {
	background-color: #7e9b9f;
	border-color: #7e9b9f;
	color: #ffffff;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active {
	color: #ffffff;
	background-color: #597478;
	border-color: #597478;
}
.btn-success.disabled, .btn-success:disabled {
	color: #ffffff !important;
	background-color: #597478 !important;
	border-color: #597478 !important;
}
.btn-warning {
	background-color: #7e9b9f;
	border-color: #7e9b9f;
	color: #ffffff;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning.focus, .btn-warning:active, .btn-warning.active {
	color: #ffffff;
	background-color: #597478;
	border-color: #597478;
}
.btn-warning.disabled, .btn-warning:disabled {
	color: #ffffff !important;
	background-color: #597478 !important;
	border-color: #597478 !important;
}
.btn-danger {
	background-color: #7e9b9f;
	border-color: #7e9b9f;
	color: #ffffff;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger.focus, .btn-danger:active, .btn-danger.active {
	color: #ffffff;
	background-color: #597478;
	border-color: #597478;
}
.btn-danger.disabled, .btn-danger:disabled {
	color: #ffffff !important;
	background-color: #597478 !important;
	border-color: #597478 !important;
}
.btn-primary-outline {
	background: none;
	border-color: #c9970d;
	color: #c9970d;
}
.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline.active {
	color: #ffffff;
	background-color: #f3c649;
	border-color: #f3c649;
}
.btn-primary-outline.disabled, .btn-primary-outline:disabled {
	color: #ffffff !important;
	background-color: #f3c649 !important;
	border-color: #f3c649 !important;
}
.btn-secondary-outline {
	background: none;
	border-color: #4e6669;
	color: #4e6669;
}
.btn-secondary-outline:hover, .btn-secondary-outline:focus, .btn-secondary-outline.focus, .btn-secondary-outline:active, .btn-secondary-outline.active {
	color: #ffffff;
	background-color: #7e9b9f;
	border-color: #7e9b9f;
}
.btn-secondary-outline.disabled, .btn-secondary-outline:disabled {
	color: #ffffff !important;
	background-color: #7e9b9f !important;
	border-color: #7e9b9f !important;
}
.btn-info-outline {
	background: none;
	border-color: #4e6669;
	color: #4e6669;
}
.btn-info-outline:hover, .btn-info-outline:focus, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline.active {
	color: #ffffff;
	background-color: #7e9b9f;
	border-color: #7e9b9f;
}
.btn-info-outline.disabled, .btn-info-outline:disabled {
	color: #ffffff !important;
	background-color: #7e9b9f !important;
	border-color: #7e9b9f !important;
}
.btn-success-outline {
	background: none;
	border-color: #4e6669;
	color: #4e6669;
}
.btn-success-outline:hover, .btn-success-outline:focus, .btn-success-outline.focus, .btn-success-outline:active, .btn-success-outline.active {
	color: #ffffff;
	background-color: #7e9b9f;
	border-color: #7e9b9f;
}
.btn-success-outline.disabled, .btn-success-outline:disabled {
	color: #ffffff !important;
	background-color: #7e9b9f !important;
	border-color: #7e9b9f !important;
}
.btn-warning-outline {
	background: none;
	border-color: #4e6669;
	color: #4e6669;
}
.btn-warning-outline:hover, .btn-warning-outline:focus, .btn-warning-outline.focus, .btn-warning-outline:active, .btn-warning-outline.active {
	color: #ffffff;
	background-color: #7e9b9f;
	border-color: #7e9b9f;
}
.btn-warning-outline.disabled, .btn-warning-outline:disabled {
	color: #ffffff !important;
	background-color: #7e9b9f !important;
	border-color: #7e9b9f !important;
}
.btn-danger-outline {
	background: none;
	border-color: #4e6669;
	color: #4e6669;
}
.btn-danger-outline:hover, .btn-danger-outline:focus, .btn-danger-outline.focus, .btn-danger-outline:active, .btn-danger-outline.active {
	color: #ffffff;
	background-color: #7e9b9f;
	border-color: #7e9b9f;
}
.btn-danger-outline.disabled, .btn-danger-outline:disabled {
	color: #ffffff !important;
	background-color: #7e9b9f !important;
	border-color: #7e9b9f !important;
}
.text-primary {
	color: #f3c649 !important;
}
.text-success {
	color: #7e9b9f !important;
}
.text-info {
	color: #7e9b9f !important;
}
.text-warning {
	color: #7e9b9f !important;
}
.text-danger {
	color: #7e9b9f !important;
}
.alert-success {
	background-color: #7e9b9f;
}
.alert-info {
	background-color: #7e9b9f;
}
.alert-warning {
	background-color: #7e9b9f;
}
.alert-danger {
	background-color: #7e9b9f;
}
.btn-social {
	border-color: #f3c649;
}
.btn-social:hover {
	background: #f3c649;
}
.mbr-company .list-group-item.active .list-group-text {
	color: #f3c649;
}
.mbr-footer p a, .mbr-footer ul a {
	color: #f3c649;
}
.mbr-footer-content li::before, .mbr-footer .mbr-contacts li::before {
	background: #f3c649;
}
.mbr-footer-content li a:hover, .mbr-footer .mbr-contacts li a:hover {
	color: #f3c649;
}
.lead a, .lead a:hover {
	color: #f3c649;
}
.lead blockquote {
	border-color: #f3c649;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle, .mbr-plan-header.bg-primary .mbr-plan-price-desc {
	color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle, .mbr-plan-header.bg-success .mbr-plan-price-desc {
	color: #c7d4d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle, .mbr-plan-header.bg-info .mbr-plan-price-desc {
	color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle, .mbr-plan-header.bg-warning .mbr-plan-price-desc {
	color: #c7d4d5;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle, .mbr-plan-header.bg-danger .mbr-plan-price-desc {
	color: #c7d4d5;
}
.mbr-small-footer a, .mbr-gallery-filter li:hover {
	color: #f3c649;
}
.scrollToTop_wraper {
	opacity: 0 !important;
}
.subject {
	font-weight: 400 !important;
    padding: 10px 25px;
    background-color: #ee624a;
    margin: 0 10px;
    border-radius: 0.2em;
    font-size: 12px !important;
	letter-spacing: 0.75px;
}
.subject:hover {
	color: #FFFFFF !important;
	background-color: #777777;
	transition: 0.25s;
}
#menu-c .hide-buttons .nav-btn {
	display: none !important;
}
#menu-c .navbar-caption {
	color: #ffffff;
}
#menu-c .navbar-toggler {
	color: #ed5240;
}
#menu-c .close-icon::before, #menu-c .close-icon::after {
	background-color: #5b5a59;
}
#menu-c .link, #menu-c .dropdown-item {
	color: #ee5340;
}
#menu-c .link {
	font-size: 17px;
	font-weight: 500;
}
#menu-c .dropdown-item, #menu-c .nav-dropdown-sm .link {
	font-size: 15px;
	color: #ffffff;
}
#menu-c .dropdown-item:hover {
	font-size: 15px;
	color: #ffffff;
}
#menu-c .link:hover, #menu-c .dropdown-item:hover, #menu-c .link:focus, #menu-c .dropdown-item:focus {
	color: #5c5b5a;
}
#menu-c .link[aria-expanded="true"], #menu-c .dropdown-menu {
	/*background: #5d5c5b;*/
}
#menu-c .nav-dropdown-sm .link:focus, #menu-c .nav-dropdown-sm .link:hover, #menu-c .nav-dropdown-sm .dropdown-item:focus, #menu-c .nav-dropdown-sm .dropdown-item:hover {
	background: #5c5b5a !important;
}
#menu-c .navbar, #menu-c .nav-dropdown-sm, #menu-c .nav-dropdown-sm .link[aria-expanded="true"], #menu-c .nav-dropdown-sm .dropdown-menu {
	background: #ffffff;
	box-shadow: 0px 1px 15px #d4d4d4;
}
#menu-c .bg-color.transparent .link {
	/*color: #ffffff;
	font-size: 0;
	transition: none;*/
}
#menu-c .bg-color.transparent.opened .link {
	transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover, #menu-c .bg-color.transparent.opened .link:focus {
	color: #ed5240;
	background-color: #ffffff !important;
}
#menu-c .link[aria-expanded="true"], #menu-c .dropdown-item[aria-expanded="true"] {
	color: #aaa!important;
}
#msg-box3-e .mbr-section-title, #msg-box3-e p {
	color: #000;
}
#msg-box6-f .mbr-section-title, #msg-box6-f .lead p {
	color: #fff;
}
#testimonials1-g .card-block P {
	color: #565656;
	text-align: center;
}
#pricing-table2-v .mbr-plan-header, #pricing-table2-v .mbr-plan-body {
	background-color: #f4f4f4;
}
#pricing-table2-v ul, #pricing-table2-v .mbr-plan-title, #pricing-table2-v .mbr-price-value, #pricing-table2-v .mbr-price-figure, #pricing-table2-v .mbr-price-term {
	color: #28262b;
}
#pricing-table2-v .mbr-plan {
	border-color: #e8e8e8;
}
#pricing-table2-v .mbr-plan .list-group-item {
	border-color: #cfcfcf;
}

.style-ul{
	margin-left: -19px;
}
.style-ul li{
	margin-bottom: 3px;
}

@media (max-width: 1199px) {
#menu-c .link {
	font-size: 15px;
	font-weight: 500;
}
}

@media (max-width: 991px) {
#menu-c .link {
	font-size: 12px;
	font-weight: 500;
}
	
.style-ul{
	margin-left: -19px;
	font-size: 15px;
	line-height: 1.4;
}
.style-ul li{
	margin-bottom: 7px;
}
}

@media (max-width: 991px) {
#menu-c .dropdown-item, #menu-c .nav-dropdown-sm .link {
	font-size: 13px;
}
#menu-c .dropdown-item:hover {
	font-size: 13px;
	color: #5c5b5a;
}
}

@media (max-width: 767px) {
#menu-c .bg-color.transparent .link {
	color: #ed5240;
	font-size: 0.812rem;
	transition: none;
}	
#menu-c .navbar, #menu-c .nav-dropdown-sm, #menu-c .nav-dropdown-sm .link[aria-expanded="true"], #menu-c .nav-dropdown-sm .dropdown-menu {
	background: #ffffff;
	box-shadow: 0px 0px 0px #d4d4d4;
}
#menu-c .dropdown-item, #menu-c .nav-dropdown-sm .link {
	font-size: 13px;
}
#menu-c .dropdown-item:hover {
	font-size: 13px;
	color: #ffffff;
}
}


/*MAIN*/
.text-banner-main{
	position: relative;
	top: 45px;
}
.about-text{
	position: relative;
    top: -333px;
    width: 55%;
    text-align: center;
    margin: 105px 230px;
}
.about-main{
	display: inline-block; 
	background-color: #eb5040;
	color: #FFFFFF;
}
.pad-relax{
	padding-left: 0;
}
.pad-2-relax{
	padding-top: 105px;
}
.height-about-pic{
	height: 360px;
    margin-bottom: 50px;
}
.height-relax-pic{
	width: auto; 
	height: 400px;
}
.height-relax-text{
	overflow: auto; 
	height: auto;
	padding-right: 1.875rem;
}
.crop-company{
	text-align: center; 
	border: 5px solid #ec5140;
	padding: 35px;
}
.text-about{
	position: relative; 
	top: -105px;
}
.logo-read-detail{
	text-align: inherit;
}
.align-complaint{
	text-align: right;
}
.display-complaint{
	display: table-cell;
}
.h3-about{
	color: #000000;
	line-height: 1.5;
}
.rspt{
	color: #ed5240;
	font-size: 50px;
}
.text-sup-rspt{
	background-color: #ed5240;
    padding: 2px 10px;
    color: #ffffff;
    font-size: 27px;
}
.detail-sup-rspt{
	position: relative;
    top: -2px;
	color: #777;
    font-weight: 300;
}






/* investor relations */
.padding-frame{
	padding-bottom: 0;
}
.offset-menu-th{
	margin-left: 16%;
}
.offset-menu{
	margin-left: 50%;
}
.br-hl{
	padding-bottom: 70px;
}


/*AGM*/
.agm-text{
	position: absolute;
    top: 0;
    width: 55%;
    text-align: center;
    color: #FFFFFF;
    margin: 105px 177px;
}
.hl-agm{
	color: #FFFFFF;
}
.hl-agm:hover{
	transition: 0.3s;
}
.sm-support{
	color: #FFFFFF !important;
}
.icon-agm{
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.icon-agm:hover{
	transition: all 0.25s linear;
    filter: saturate(100%) brightness(95%) contrast(130%);
}

/*NEWS*/
/*.news-wrap {
}
.news-wrap .topic {
	font-weight: bold;
    border-bottom: 1px #999999 solid;
    padding-bottom: 15px;
}
.news-wrap .news-content {
    padding: 21px 0;
    border-bottom: 1px #ad8700 solid;
    overflow: hidden;
}
.news-content a {
	font-size: 24px;
	color: #404040 !important;
    font-weight: bold;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	text-decoration: none !important;
}
.news-content a h1:hover {
	color: #695200 !important;
	transition: all 0.2s linear;
}
.news-content h1 {
	font-family: 'kanit-medium';
    font-size: 18.5px !important;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 5px;
    white-space: initial;
    letter-spacing: 0.5px;
}
.news-content p {
    font-family: 'kanit-light';
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 6px;
    color: #ad8700 !important;
}
.news-content i {
    font-family: 'kanit-medium';
    font-size: 17px;
    color: #ad8700;
    line-height: 22px;
    font-weight: normal;
    letter-spacing: 0.2px;
}
.news-content-storng {
	font-size: 16px;
    color: #ad8700;
    line-height: 22px;
    margin-bottom: 0;
    font-weight: 500;
}
.icn-news {
    margin: 10px 0px -7px -5px;
    max-width: 40px;
    width: 10%;
}
.detail-news {
    width: 90%;
    overflow: hidden;
    padding-left: 20px;
}
.readAll_newsButton {
	font-family: 'Sarabun';
    margin-bottom: 30px;
    background-color: #33333300 !important;
    padding: 7px 22px;
    font-size: 16px;
    color: #ad8700;
    border: 0.5px solid #ad8700;
        -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.readAll_newsButton:hover {
	    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
    background-color: #ad8700 !important;
    color: #ffffff;
}*/

/*MEETING*/
/*.meeting-text{
	position: absolute;
    top: 58.5%;
    width: 95%;
    text-align: left;
    color: #FFFFFF;
    padding: 25px 25px;
}
.img-meeting{
	height: auto;
}*/

/*CALENDAR*/
/*.table-calendar{
	white-space: nowrap;
}*/

/*FINANCIAL*/
/*.icon-finance{
	-webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.icon-finance:hover{
	transition: all 0.25s linear;
    filter: saturate(200%) brightness(55%) contrast(105%);
}*/

/*GOVERNANCE & CSR*/
/*.gov-bg {
    background: #f7f6fb url(../images/iStock-website.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top;
}
.gov-bg .sub-bg {
    background: rgba(0, 0, 0, 0.5);
    padding: 100px 45px;
}
.gov-bg h5 {
	font-size: 33px;
    font-weight: normal;
    line-height: 1.2;
    color: #0d4a7e;
    margin-bottom: 0px;
}
.gov-bg h6 {
    font-size: 35px;
    font-weight: 500;
    color: #ec5140;
    margin-bottom: 25px;
    margin-top: 0;
}
.gov-bg a.btn-dwnload {	
	font-size: 13px;
	background: #0f4d7e;
    color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    display: inline-block;
	width: 100%;
	text-align: center;
}
.gov-bg a.btn-dwnload:hover {	
	background: #2c71a1;
	color: #fff;
}
.gov-bg a.btn-dwnload:visited {	
	color: #fff;
}
.gov-bg a.btn-dwnload img {
	display: inline;
    position: relative;
    bottom: 2px;
}

.csr-bg {
    background: #f7f6fb url(../images/iStock-website-csr.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top;
}
.csr-bg .sub-bg {
	color: #fff;
    background: rgba(0, 0, 0, 0.25);
    padding: 155px 75px;
}
.csr-bg h5 {
	font-size: 33px;
    font-weight: normal;
    line-height: 1.2;
    color: #0d4a7e;
    margin-bottom: 0px;
}
.csr-bg h6 {
    font-size: 35px;
    font-weight: 500;
    color: #777777;
    margin-bottom: 25px;
    margin-top: 0;
}
.csr-bg a.btn-dwnload {	
	font-size: 13px;
	background: #0f4d7e;
    color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    display: inline-block;
	width: 100%;
	text-align: center;
}
.csr-bg a.btn-dwnload:hover {	
	background: #2c71a1;
	color: #fff;
}
.csr-bg a.btn-dwnload:visited {	
	color: #fff;
}
.csr-bg a.btn-dwnload img {
	display: inline;
    position: relative;
    bottom: 2px;
}

.contact-bg {
    background: #f7f6fb url(../images/iStock-website-contact.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top;
    padding: 45px 45px;
}
.contact-bg .sub-bg {
	margin-bottom: 45px;
    background: rgba(255, 255, 255, 0.65);
    padding: 100px 75px;
}
.contact-bg h6 {
    font-size: 24.5px;
    font-weight: 500;
    color: #777777;
    margin-bottom: 35px;
    margin-top: 35px;
}
.contact-bg a.btn-dwnload {	
	font-size: 13px;
	background: #0f4d7e;
    color: #fff;
    padding: 10px 15px;
    margin-top: 10px;
    display: inline-block;
	width: 100%;
	text-align: center;
}
.contact-bg a.btn-dwnload:hover {	
	background: #2c71a1;
	color: #fff;
}
.contact-bg a.btn-dwnload:visited {	
	color: #fff;
}
.contact-bg a.btn-dwnload img {
	display: inline;
    position: relative;
    bottom: 2px;
}
.border-file{
	border-right: 1px solid #cccccc;
}

.td-contact{
	padding: 0 !important; 
	border: 0 !important; 
	color: #777777 !important;
}
.pad-contact{
	padding: 0 0 25px  !important;
}
.img-contact{
	width: auto;
}*/

/*CHAIRMAN*/
/*.margin-signature{
	padding: 0 15%;
}*/




/*RESPONSIVE*/
@media (max-width: 1850px) {
.offset-menu{
	margin-left: 40%;
}
.offset-menu-th{
	margin-left: 17%;
}
.height-relax-text{
	overflow: auto; 
	height: 250px;
	padding-right: 1.875rem;
}
}

@media (max-width: 1500px) {
.offset-menu{
	margin-left: 25%;
}
.offset-menu-th{
	margin-left: 10%;
}
.height-relax-text{
	overflow: auto; 
	height: 200px;
	padding-right: 1.875rem;
}
}

@media (max-width: 1199px) {
	.offset-menu{
	margin-left: 0%;
}
	.offset-menu-th{
	margin-left: 0%;
}
	.about-text{
    top: -300px;
    margin: 120px 177px;
}
	.crop-company {
    text-align: center;
    border: 5px solid #ec5140;
    padding: 35px 25px;
}
	.padding-frame{
	padding-bottom: 50px;
}
	.height-about-pic {
    height: 295px;
    margin-bottom: 50px;
}
	.agm-text{
	padding: 10.5% 7%;
	margin: 0;
	width: 95%;
}
	.img-meeting{
	height: 543px;
}
	.table-calendar{
	white-space: nowrap; 
	overflow: auto
}
	.padding-calendar{
	padding-right: 25px;
}
	
	.contact-bg .sub-bg {
    margin-bottom: 45px;
    background: rgba(255, 255, 255, 0.65);
    padding: 100px 55px;
}

}

@media (max-width: 991px) {
	.pad-relax{
	padding-left: 0;
	padding-right: 0;
}
	.about-text {
    top: -225px;
    margin: 50px 155px;
}
	.height-about-pic {
    height: 225px;
    margin-bottom: 50px;
}
	.height-relax-pic{
	width: 100%; 
	height: auto;
}
	.height-relax-text{
	overflow: auto; 
	height: auto;
	padding-right: 0;
	padding-bottom: 70px;
}
	.pad-relax-final{
	padding-bottom: 70px !important;
}
	
	.img-meeting{
	height: auto;
}
	.meeting-text{
	position: absolute;
    top: 48.5%;
    width: 96%;
    text-align: left;
    color: #FFFFFF;
    padding: 25px 25px;
}
	.text-about {
    position: relative;
    top: -145px;
    left: 55px;
}
	.gov-bg .sub-bg {
    background: rgba(0, 0, 0, 0.5);
    padding: 55px 45px;
}
	.gov-bg {
    background: #f7f6fb url(../images/iStock-tablet.jpg);
}
	.gov-bg h6 {
    font-size: 30px;
}
	
	.csr-bg .sub-bg {
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
    padding: 150px 50px;
}
	.csr-bg {
    background: #f7f6fb url(../images/iStock-tablet-csr.jpg);
}
	.csr-bg h6 {
    font-size: 30px;
}
	
	.contact-bg {
    background: #f7f6fb url(../images/iStock-tablet-contact.jpg);
    padding: 25px 25px;
}
	.contact-bg h6 {
    font-size: 27px;
}
	.display-complaint{
	display: inline-block;
	width: auto;
}
.TH {
    margin-left: 38.5%;
}
.text-short-language1 {
    margin: 18px 12px 0px 5px;
}
}

@media (max-width: 767px) {
	.agm-text{
	padding: 10.5% 7%;
}
	.meeting-text{
	position: absolute;
    top: 44.5%;
    width: 96%;
    text-align: left;
    color: #FFFFFF;
    padding: 25px 25px;
}
}

@media (max-width: 650px) {
	.about-text {
    top: -135px;
    margin: 10px auto;
}
	.rspt{
	color: #ed5240;
	font-size: 40px;
}

	.height-about-pic {
    height: 175px;
    margin-bottom: 50px;
}
	.pad-2-relax{
	padding-top: 25px !important;
}
	.h3-about{
	font-size: 20px;
	line-height: 1.2;
}
	.br-hl{
	padding-bottom: 35px;
}
	.padding-frame{
	padding-bottom: 50px;
}
	.agm-text{
	padding: 9.75% 7%;
	width: 95%;
}
	.sm-support{
		font-size: 12px;
}
	.meeting-text {
    position: relative;
    top: 0;
    width: 100%;
    text-align: left;
    color: #777;
    padding: 25px 0;
}
	.logo-read-detail{
	/*text-align: center;*/
	/*background-color: #000000 !important;*/
	/*filter: brightness(125%) contrast(125%) saturate(150%);*/
}
	.height-relax-text{
	overflow: auto; 
	height: auto;
	padding-right: 0;
	padding-bottom: 0;
}
	.gov-bg {
    background: #f7f6fb url(../images/iStock-tablet.jpg);
	padding: 25px;
}
	.csr-bg {
    background: #f7f6fb url(../images/iStock-tablet-csr.jpg);
	padding: 25px;
}
	.border-file{
	border-bottom: 1px solid #cccccc;
	border-right: 0px solid #cccccc;
	padding: 50px 0;
	margin: 0 70px;
}
	.file-2{
	padding: 50px 0;
}
	.img-contact {
    width: 25%;
}
.TH {
    margin-left: 29%;
}
}

@media (max-width: 563px) {
.TH {
    margin-left: 16%;
}
}

@media (max-width: 520px) {
	.about-text {
    top: -115px;
    margin: 10px auto;
}
	.height-about-pic {
    height: 155px;
    margin-bottom: 50px;
}
	.rspt{
	color: #ed5240;
	font-size: 35px;
}
	.agm-text{
	padding: 7.75% 7%;
	width: 94%;
}
	.hl-agm{
	font-size: 20px;
}
	.detail-news {
	width: 80%;
	overflow: hidden;
}
	
	.gov-bg a.btn-dwnload {	
		font-size: 13px;
		background: url(../images/btn_dwnld.png);
		color: #fff;
		padding: 10px 5px;
		margin-top: 10px;
		display: inline-block;
		width: 380px;
		text-align: center;
}
	.gov-bg a.btn-dwnload:hover {	
		background: url(../images/btn_dwnld_active.png);
		color: #fff;
}
	.gov-bg a.btn-dwnload:visited {	
		color: #fff;
}
	.gov-bg h6 {
    font-size: 25px;
}
	.gov-bg .sub-bg {
    margin-bottom: 45px;
    padding: 35px 35px;
}
	.gov-bg {
    background: #f7f6fb url(../images/iStock-website.jpg);
    padding: 15px 15px;
}
	
	.csr-bg a.btn-dwnload {	
		font-size: 13px;
		background: url(../images/btn_dwnld.png);
		color: #fff;
		padding: 10px 5px;
		margin-top: 10px;
		display: inline-block;
		width: 380px;
		text-align: center;
}
	.csr-bg a.btn-dwnload:hover {	
		background: url(../images/btn_dwnld_active.png);
		color: #fff;
}
	.csr-bg a.btn-dwnload:visited {	
		color: #fff;
}
	.csr-bg h6 {
    font-size: 25px;
}
	.csr-bg .sub-bg {
    margin-bottom: 45px;
    padding: 35px 35px;
}
	.csr-bg {
    background: #f7f6fb url(../images/iStock-website-csr.jpg);
    padding: 15px 15px;
}
	
	.contact-bg h6 {
    font-size: 20px;
	margin-bottom: 25px;
    margin-top: 25px;
}
	.contact-bg .sub-bg {
    margin-bottom: 45px;
    padding: 35px 35px;
}
	.contact-bg {
    background: #f7f6fb url(../images/iStock-website-contact.jpg);
    padding: 15px 15px;
}
.TH {
    margin-left: 12%;
}
}

@media (max-width: 455px) {
.TH {
    margin-left: 0%;
}	
}

@media (max-width: 420px) {
	.about-text {
    top: -90px;
    margin: 10px auto;
}
	.height-about-pic {
    height: 100px;
    margin-bottom: 50px;
}
	.h3-about{
	font-size: 17px;
	line-height: 1.1;
}
	.agm-text{
	padding: 4% 7%;
	width: 90%;
}
	.hl-agm{
	font-size: 17px;
}
	.sm-support{
	font-size: 10px;
}
	.border-file{
	padding: 25px 0;
	margin: 0 25px;
}
	.file-2{
	padding: 25px 0;
}
	.img-contact {
    width: 35%;
}
.TH {
    margin-left: 1%;
}
.text-short-language1 {
    margin: 18px 0px 0px 0px;
}
.text-short-language2 {
    margin: 18px 0px 0px 0px;
}
}

@media (max-width: 414px) {
	.dl-menuwrapper p {
	    top: auto;
	}
	.text-short-language1 {
    	font-size: 21px;
	}
	.text-short-language2 {
    	font-size: 21px;
	}
}

@media (max-width: 320px) {
	.height-about-pic {
    height: 90px;
    margin-bottom: 50px;
}
	.img-contact {
    width: 50%;
}
}
