#popup-item {
  background: rgba(51, 51, 51, 0.9);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99999;
}
#popup-item .content-popup {
    /*background: #212222;*/
    color: #fff;
    /* height: 140px; */
    left: calc(50% - 585px);
    /* padding: 50px 60px; */
    position: absolute;
    text-align: center;
    top: calc(50% - 330px);
    width: 1170px;
}
#popup-item .content-popup .close-notification {
    margin-top: 0;
    right: 15px;
    top: 10px;
    cursor: pointer;
    font-size: 5em;
    position: fixed;
    z-index: 99;
}
#popup-item .content-popup h2 {
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
#popup-item .content-popup .form {
  margin-top: 40px;
}
#popup-item .content-popup .form p {
  text-transform: uppercase;
}
#popup-item .content-popup .form .block-subscribe {
  padding-top: 13px;
  width: 76%;
}
#popup-item .content-popup .form .block-subscribe input {
  border-radius: 3px;
}
#popup-item .content-popup .form .block-subscribe .button {
  border: 2px solid white;
}

@media screen and (max-width: 1140px) {
  #popup-item .content-popup {
    left: calc(50% - 500px);
    height: 250px;
    /* padding: 20px 40px; */
    top: calc(50% - 245px);
    width: 1000px;
  }
}
@media screen and (max-width: 980px) {
  #popup-item .content-popup {
	left: calc(50% - 425px);
    height: 250px;
    /* padding: 20px 40px; */
    top: calc(50% - 175px);
    width: 850px;
  }
}
@media screen and (max-width: 830px) {
  #popup-item .content-popup {
    left: calc(50% - 375px);
    height: 250px;
    /* padding: 20px 40px; */
    top: calc(50% - 160px);
    width: 750px;
  }
}
@media screen and (max-width: 767px) {
  #popup-item .content-popup {
    left: calc(50% - 220px);
    height: 250px;
    /* padding: 20px 40px; */
    top: calc(50% - 345px);
    width: 440px;
  }
}
@media screen and (max-width: 414px) {
  #popup-item .content-popup {
    left: calc(50% - 180px);
    height: 250px;
    /* padding: 20px 40px; */
    top: calc(50% - 280px);
    width: 360px;
  }
}

.img-popup {
	border: 5px #cbc37b solid;
	transition: all 0.7s linear;
}
/*.img-popup:hover {
	border: 3px #fff solid;
	cursor: pointer;
	transition: all 0.2s linear;
}*/
