/* ============ TIMELINER.JS ============= */
.timeline-container {
    border-left: 4px solid #006c9d;
    margin: 20px auto 150px;
    width: 1130px;
}

@media (max-width: 991px) {
  .timeline-container {
    width: auto;
  }
}
.timeline-toggle {
    background: #006c9d;
    border-color: #006c9d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    /*cursor: pointer;*/
    float: right;
    font-size: 14px;
    margin-right: 0;
    padding: 5px 8px;
    margin-bottom: 40px;
    display: none;
}
.timeline-wrapper {
    clear: left;
    float: left;
    margin: 0 0 0px 0;
    padding: 20px 0 0px 0;
    background: white;
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    /*cursor: pointer;*/
    /*    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
*/
  }
/*.timeline-wrapper:hover {
    background: #fbfbfb;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}*/
.timeline-wrapper h2 {
  background: url(../images/timeline_century_tick.png) left center no-repeat;
  font-family: 'psl_display_pro';
  /*cursor: pointer;*/
  font-size: 3em;
  font-weight: 400;
  margin: 0 0 0px;
  padding: 4px 30px 4px 20px;
}
.timeline-wrapper h2 span {
    background: #006c9d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #ffffff;
    /* letter-spacing: 0.1em; */
    line-height: 1.7em;
    padding: 5px 39px 2px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.timeline-wrapper h2 span:hover {
    background-color:#014565 !important;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.timeline-series {
  clear: left;
  float: left;
  margin: 0px 12px 0 0;
  padding: 0px 4px 15px 0;
  position: relative;
  /*width: 880px;*/
}
/*.timeline-series dt {
  background: url(../images/timeline_decade_tick.png) left center no-repeat;
  clear: left;
  font-size: 1.6em;
  list-style-type: none;
  line-height: 1.2em;
  margin: 0 0 12px;
  padding: 0 0 0 24px;

}*/
.timeline-series dt a {
  color: #999;
  /*cursor: pointer;*/
}
.timeline-series dt a .closed {
  color: #999;
  font-size: 1em;
  margin-left: 0;
}
.timeline-series dt a .open {
  color: #7DBADF;
}
.timeline-series dt a:hover {
  color: #7DBADF;
}
.timeline-series dd {
  padding-left: 24px;
  /*width: 100%;*/
}
.timeline-series dd h3 {
  color: #FFF;
  clear: both;
  float: left;
  font-size: 1.5em;
  margin: 0;
}
.timeline-event-content {
  display: none;
}
.timeline-event-content p {
    clear: left;
    float: left;
    margin: 10px 0 10px;
    font-size: 18.5px;
    line-height: 1.7;
    margin-bottom: 15px;
    /*cursor: pointer;*/
}
.timeline-event-content h4 {
  clear: left;
  float: left;
  font-size: 1.4em;
  font-weight: 400;
  margin: 10px 0 0;
  padding: 0 0 0 20px;
}
.timeline-event-content blockquote {
  border-left: 2px solid #ccc;
  clear: left;
  float: left;
  font-size: 1.8em;
  margin-left: 0;
  padding: 0 30px;
  /*width: 400px;*/
}
.timeline-event-content blockquote .attribution {
  font-size: 0.7em;
  text-align: right;
}
.timeline-event-content .media {
  float: right;
  padding: 0 0 12px;
  /*width: 300px;*/
}
.timeline-event-content .media img {
  border: 2px solid #000;
  margin: 0;
}
.timeline-event-content .media p {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}
.timeline-event-content .media a:link,
.timeline-event-content .media a:visited {
  color: #ab221b;
}
.timeline-event-content .media a:hover {
  color: #7DBADF;
}
.clear {
  clear: both;
}
