/* --------- Global ----------*/

.transition {
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

.img-responsive {
	width: 100%;
}
/* --------- Simple Zoom Effects ----------*/

.product-div1 {
	position: relative;
	/*overflow:hidden;*/
	margin-bottom: 65px;
}

.product-div1:hover img {
	transform: scale(1.1);
}

img {
	transform: scale(1);
}

.fa {
	line-height: 43px;
}

.map-responsive {
	overflow: hidden;
	padding-bottom: 50%;
	position: relative;
	height: 0;
}

.map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.bgcolor_InquiryTap{background-color: #D6D6D6;height:50px;text-align:center;}
.bgcolor_InquiryTap2{background-color: #006c9d;height:50px;font-weight: bold;text-align:center;color:#FFFFFF;}
.bgcolor_InquiryTap3{background-color: #D6D6D6;height:50px;font-weight: bold;text-align:center;color:#FFFFFF;}


 /* +++++++++++++++++ Financial statement+++++++++++++++++++ */
.fi_head_table{color:#FFFFFF;font-size:13px; font-weight: normal;}
.style_finance_group{color:#FFFFFF;font-size:13px;font-weight: normal;}
.fontcolor_finance_value{color:#6B6B6B;font-size:13px;}
.font_style_end_row{font-size:13px; color:#FFFFFF;font-weight: normal;}

.color_1{background-color:#82bad4;}   
.color_2{background-color: #DCEAF4;} 
.color_3{
   background-color:#FFFFFF;
   /*background:url(images/bg_menu.jpg);
   background-repeat:repeat-x;
   background-position:bottom left;*/
}
.color_4{
   background-color:#006c9d;
   /*background:url(images/bg_menu.jpg);
   background-repeat:repeat-x;
   background-position:bottom left;*/
} 
.color_5{background-color: #F4F3F3;}
.color_6{background-color: #5D6363;}
.color_7{background-color: #C9DBF5;}
.color_8{background-color: #F4F3F3;}
.color_9{	border:1px dashed #6EB8E9;background-color: #F1F9FF;}

.download_fi_bg_color1{background-color: #F4F3F3;}
.download_fi_bg_color2{background-color:#C3DDEB;}
.download_fi_bg_color3{background-color: #F1F9FF;}
.download_fi_bg_color4{background-color: #DCEAF4;}
.download_fi_font1{color:#C43F47; font-weight:bold;}

a.finance:link {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #666666; text-decoration: none;
}
a.finance:visited {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #666666; text-decoration: none;
}
a.finance:hover {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #007ce4; text-decoration: none;
}
a.finance:active {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #666666; text-decoration: none;
}

a.fi_year:link {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #FFFFFF; text-decoration: none;
}
a.fi_year:visited {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #FFFFFF; text-decoration: none;
}
a.fi_year {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #FFFFFF; text-decoration: none;
}
a.fi_year:hover {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #FFFFFF; text-decoration: none;
}
a.fi_year:active {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #FFFFFF; text-decoration: none;
}

/*News for financial and financial yearly*/
.bgcolorfinancialdetail{PADDING-BOTTOM: 0px; BACKGROUND: #F4F3F3; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px}
.fontcolor_finance_value1{color:#6B6B6B;font-size:13px; font-family: 'Sarabun';}
.yearly_bg_color1{ background-color:#006c9d;/*background:url(images/bg_menu.jpg);background-repeat:repeat-x;background-position:bottom left;*/}
.yearly_bg_color2{background-color: #82bad4;}
.fi_active{FONT-SIZE: 13px;color:#006c9d; font-weight:bold;}


.font_title_1{FONT-SIZE: 30px; color:#4B6683;font-weight: bold;}
.font_title_2{FONT-SIZE: 30px; color:#1B3857;font-weight: bold;}\


.style_font_head_table{COLOR: #666666;font-weight: bold;}
.activepage{FONT-SIZE: 14px;color:#bd5a35; font-weight:bold;}

.font_datetime,
.font_datetime2{
	color: #000000;font-weight: bold;
}
.font_datetime4{
	color: #3B86B6;font-weight: bold;
}
.font_datetime3{color: #FFFFFF;}
.ic_font_date {FONT-SIZE: 11px;color:#bd5a35; }
.font_disclaimer{color:#145BA2;}
.font_wp_active{FONT-SIZE: 14px;color:#bd5a35; font-weight:bold;}
a.page:link {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #666666; text-decoration: none;font-weight: bold;
}
a.page:visited {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #666666; text-decoration: none;font-weight: bold;
}
a.page:hover {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #f15a24; text-decoration: none;font-weight: bold;
}
a.page:active {
	FONT: 13px Tahoma, Geneva, sans-serif;color: #666666; text-decoration: none;font-weight: bold;
}