.calendar_body {
	FONT-FAMILY: "Segoe UI", Frutiger, Tahoma, "Helvetica", "Helvetica Neue", Arial, sans-serif; BACKGROUND: #fff; COLOR: #444; FONT-SIZE: 10px;
	POSITION: relative; TOP;
}
#demoHeader {
	POSITION: relative; PADDING-BOTTOM: 15px; MARGIN: 0px 0px 5em; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #3d8717; HEIGHT: 1%; PADDING-TOP: 15px
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#demoHeader IMG {
	MARGIN-BOTTOM: 0.9em; FLOAT: left
}
#demoHeader H1 {
	BORDER-LEFT: #fff 1px solid; LINE-HEIGHT: 1.8em; MARGIN: 0px 0px 0px 20px; PADDING-LEFT: 20px; FLOAT: left; COLOR: #fff; FONT-SIZE: 12px; FONT-WEIGHT: bold
}
#demoHeader H1 A {
	COLOR: #fff; FONT-WEIGHT: bold
}
P#copyright {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; COLOR: #fff; CLEAR: both; FONT-SIZE: 12px; BORDER-TOP: #fff 1px solid; PADDING-TOP: 0.5em
}
